POSTGRES_USER=musicroom
POSTGRES_PASSWORD=secret
POSTGRES_DB=musicroom
REDIS_URL=redis://redis:6379
GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
JWT_SECRET=supersecretkey

DATABASE_URL=postgresql://musicroom:secret@localhost:5432/musicroom

CLIENT_ID=
CLIENT_SECRET=
USER_ID=
ACCESS_TOKEN=
REFRESH_TOKEN=