JWT_SECRET=supersecretkey

DATABASE_URL=postgresql://musicroom:secret@localhost:5432/musicroom
POSTGRES_USER=musicroom
POSTGRES_PASSWORD=secret

REDIS_URL=redis://redis:6379

GOOGLE_AUTH_URL=https://oauth2.googleapis.com
GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret

HIFI_API_HOST=localhost
HIFI_API_CLIENT_ID=
HIFI_API_CLIENT_SECRET=
HIFI_API_USER_ID=
HIFI_API_ACCESS_TOKEN=
HIFI_API_REFRESH_TOKEN=

SMTP_HOST=localhost
